@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap");

.container { border:2px solid #ccc; width:300px; height: 100px; overflow-y: scroll;}

body {
  font-family: "JetBrains Mono", monospace;
}

.layoutflow {
  flex-grow: 1;
  position: relative;
}

.layoutflow .controls {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10;
}

.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.loc {
  font-size: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.inner-white {
  background: white;
  border-radius: 2px;
}

.inner {
  padding: 10px;
}
.selected .inner {
  padding: 9px;
}

.fun-name {
  padding-top: 0px;
  padding-right: 0px;
}

.react-flow__edge-path {
  cursor: pointer;
  /* stroke-width: 2px; */
  /* stroke-width: 5px; */
}

.selected .react-flow__edge-path {
  stroke-width: 2px;
}

.custom-node-header {
  flex-grow: 1;
  padding: 8px 24px;
  margin-bottom: 8px;
}
.custom-node-subheader {
  flex-grow: 1;
  padding: 8px;
  background: #eee;
}
.custom-node-content {
  flex-grow: 1;
  padding: 0 8px 8px 8px;
}

.react-flow__node {
  height: auto;
}

.react-flow__node {
  background: white;
  padding: 10px;
  border-radius: 3px;
  width: 150px;
  font-size: 12px;
  color: 	black;
  text-align: center;
  border-width: 1px;
  border-style: solid;
}

.react-flow__node.selected {
  outline: 2px solid #222;
  outline-offset: -2px;
}


.ports {
  padding: 0px;
  margin: 0px;
  width: 10px;
  position: absolute;
  top: 6px;
}
.port-name {
  /* position: absolute; */
  /* top: 3px; */
  list-style: none;
  font-size: 10px;
  color: gray;
  height: 18px;
}


.alert-container {
  text-align: center;
}

.button-validate {
  width:200px;
  height:20px;
  margin-left: 1000px;
  text-align: center;
}

.alert-inner {
  display: inline-block;
  padding: 8px 16px;
  z-index: 1;
  background-color: #fdf904;
  box-shadow: 1px 2px 10px -3px rgb(0 0 0 / 70%);
  -webkit-box-shadow: 1px 2px 10px -3px rgb(0 0 0 / 70%);
  -moz-box-shadow: 1px 2px 10px -3px rgb(0 0 0 / 70%);
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
